.header {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 110px;
    margin-right: 120px;

}

.dot {
    position: absolute;
    top: -162px;
}

.bg-shape {
    z-index: -1;
}

.bg-1 {
    background: #82FFD2;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
    position: absolute;
    width: 438px;
    height: 494px;
    left: -200px;
    top: -162px;
}

.bg-2 {
    background: #82F7FF;
    opacity: 0.3;
    filter: blur(60px);
    transform: rotate(90deg);
    position: absolute;
    width: 438px;
    height: 494px;
    left: -200px;
    top: -77px;

}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;


}

.header-logo h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 12px;
    color: #1B1C57;
}

.header-nav .header-nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header-nav .header-nav-list li {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 32px;
    color: #F0F3FD;
    margin-left: 24px;
    padding: 8px 16px;
    transition: .3s all;
    cursor: pointer;
}

.header-nav .header-nav-list li:hover,.header-nav .header-nav-list li:focus,.header-nav .header-nav-list li:active  {
    border-color: white;
    
}

.header-nav .header-nav-list li img {
    margin-left: 14px;
}

#signUp {
    color: #047857;
    margin-left: 80px;
    background-color: #D1FAE5;
}

#signUp:hover,
#signUp:focus,
#signUp:active {
    color: #D1FAE5;
    background-color: #047857;

}

.header-nav .header-nav-list li a:last-child {}