body {
  margin: 0 auto;
  max-width: 1440px;
  position: relative;
  font-family: 'Lexend', sans-serif;
  background-color: rgba(71, 71, 71, 0.281);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}